[submodule "libraries/simtools"]
	path = libraries/simtools
	url = https://github.com/sweeneyal/simtools
[submodule "libraries/riscv-dv"]
	path = libraries/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv.git
[submodule "libraries/riscv-isa-sim"]
	path = libraries/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
